<div class="container">
  <div class="row">
    <!-- Lateral esquerda com filtros -->
    <div class="divFiltro col-3 a"></div>

    <!-- Lateral direita com tabela -->
    <div class="divTable col-9 a">
      <div class="divTopoTabela">
        Buscar por nome
      </div>
      <div class="divTabela table-responsive">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">Data Nascimento</th>
              <th scope="col">Graduação</th>
            </tr>
          </thead>
          <tbody class="table-striped">
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
