<div class="modal-header">
  <h4 class="modal-title pull-left">Enviar e-mail</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="formulario">

    <div class="form-group">
      <label for="email">Para</label>
      <input type="text" class="form-control" id="email" placeholder="Pesquise pelo nome do usuário cadastrado."
      formControlName="email">
    </div>

    <div class="form-group">
      <label for="assunto">Assunto</label>
      <input type="text" class="form-control" id="assunto" placeholder="Insira o assunto aqui"
      formControlName="assunto">
    </div>

    <div class="form-group">
      <label for="mensagem">Mensagem</label>
      <textarea class="form-control" id="mensagem" rows="3" maxlength="250" placeholder="Insira uma mensagem com 250 caracteres, no máximo."
      formControlName="mensagem"></textarea>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="enviarEmail()">Enviar</button>
  <button type="button" class="btn btn-default" (click)="onClose()">Close</button>
</div>
