<div class="telaLogin">
  <form class="formulario">
    <div class="form-group">
      <label for="campoEmail">Usuário</label>
      <input
        type="email"
        class="form-control"
        id="campoEmail"
        aria-describedby="emailHelp"
        placeholder="E-mail"
        [(ngModel)]="email"
        name="email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >Nunca compartilharemos seus dados pessoais.</small
      >
    </div>
    <div class="form-group">
      <label for="campoSenha">Senha</label>
      <input
        type="password"
        class="form-control"
        id="campoSenha"
        placeholder="Senha"
        [(ngModel)]="senha"
        name="senha"
      />
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="lembrarMim" />
      <label class="form-check-label" for="lembrarMim">Lembrar de mim</label>
    </div>
    <button

      id="btnEntrar"
      class="btn btn-outline-success my-2 my-sm-0"
      (click)="realizarLogin()"
    >
      Entrar
    </button>
  </form>
</div>
