<div class="divAtletaListar">
  <h5 class="gambiarra">a</h5>

  <h4>Atletas Cadastrados</h4>
  <hr />

  <div class="divListagem">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Nascimento</th>
          <th scope="col">Grau</th>
          <th scope="col">FCK</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td><button class="btn btn-outline-info">Alterar</button></td>
        </tr>
      </tbody>
          <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td><button class="btn btn-outline-info">Alterar</button></td>
          </tr>
    </table>
  </div>
</div>
