<div class="login">
  <div id="teste">
   <div style="background-image: url('images/bg-01.jpg');" id="imagem"></div>

   <form class="formulario">
       <h1 class="entrar">Efetuar Cadastro</h1>
       <input type="text" class="form-control" id="login" placeholder="Nome Completo">
       <input type="password" class="form-control" id="senha" placeholder="Email">
       <input type="password" class="form-control" id="senha" placeholder="CPF">
       <input type="password" class="form-control" id="senha" placeholder="Telefone">
       <input type="password" class="form-control" id="senha" placeholder="Data de Nascimento">
       <button  class="btn btn-primary" id="logar">Cadastrar Atleta</button>

      <!--
       <a href="#" id="esqueceu">Esqueceu seu Usuario/Senha ?</a>
       <a href="#" id="cadastro">Cadastre-se</a>
       -->
   </form>
   </div>
</div>
