<!-- <div class="container telaCad">
  <div class="divFormulario">
    <div class="divTeste" id="imagem"></div>

    <form class="formulario" [formGroup]="formulario">
      <h1 class="entrar">Efetuar Cadastro</h1>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome Completo"
        formControlName="nome"
      />
      <input
        type="password"
        class="form-control"
        id="senha"
        placeholder="Senha"
        formControlName="senha"
      />
      <input
        type="text"
        class="form-control"
        id="cpf"
        placeholder="CPF"
        formControlName="cpf"
      />
      <input
        type="text"
        class="form-control"
        id="telefone"
        placeholder="Telefone"
        formControlName="telefone"
      />
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="E-mail"
        formControlName="email"
      />
      <input
        type="date"
        class="form-control"
        id="data"
        placeholder="Data de Nascimento"
        formControlName="dataNascimento"
      />
      <button class="btn btn-outline-success" id="logar">
        Cadastrar Atleta
      </button> -->

<!--
       <a href="#" id="esqueceu">Esqueceu seu Usuario/Senha ?</a>
       <a href="#" id="cadastro">Cadastre-se</a>
       -->
<!-- </form>
  </div>
</div> -->

<div class="container">
  <div class="divCad row ">
    <div class="divFormulario col-lg-6 col-md-6 col-sm-12 ">
      <div class="divLogo ">
        <img
          src="../../../assets/Imagens/logos/logoKarate.jpg"
          alt="Logo Karatê"
        />
      </div>
      <form class="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <h4 class="entrar">Cadastro de Atletas</h4>
        <hr />

        <div class="form-row">
          <div class="form-group col">
            <input
              type="text"
              class="form-control"
              id="nome"
              placeholder="Nome Completo"
              formControlName="nome"
            />

            <!-- Div com mensagem de erro para o usuário -->
            <app-campo-control-erro
              [mostraErro]="verificaValidTouched('nome')"
              msgErro="Nome é obrigatório."
            >
            </app-campo-control-erro>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <input
              type="password"
              class="form-control"
              id="senha"
              placeholder="Senha"
              formControlName="senha"
            />
            <!-- Div com mensagem de erro para o usuário -->
            <app-campo-control-erro
              [mostraErro]="verificaValidTouched('senha')"
              msgErro="Senha é obrigatória.">
            </app-campo-control-erro>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <input
              type="text"
              class="form-control"
              id="cpf"
              placeholder="CPF"
              formControlName="cpf"
              [textMask]="{ mask: maskCpf }"
            />
            <!-- Div com mensagem de erro para o usuário -->
            <app-campo-control-erro
              [mostraErro]="verificaValidTouched('cpf')"
              msgErro="Cpf é obrigatório.">
            </app-campo-control-erro>
          </div>
          <div class="form-group col">
            <input
              type="text"
              class="form-control"
              id="telefone"
              placeholder="Celular"
              formControlName="telefone"
              [textMask]="{ mask: maskTelefone }"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="E-mail"
              formControlName="email"
            />
          </div>
          <div class="form-group col">
            <input
              type="date"
              class="form-control"
              id="data"
              placeholder="Data de Nascimento"
              formControlName="dataNascimento"
            />
          </div>
        </div>

        <button type="submit" class="btn btn-outline-success" id="btnCadastro">
          Cadastrar
        </button>

        <button
          type="submit"
          class="btn btn-outline-warning"
          id="btnAlterar"
          *ngIf="telaAlteracao"
        >
          Cadastrar
        </button>

        <button
          class="btn btn-outline-danger"
          id="btnCancelar"
          (click)="resetarForm()"
        >
          Cancelar
        </button>
      </form>
    </div>
    <div class="divImagem col-lg-6 col-md-6 col-sm-12 ">
      <!-- <img
        class="img-fluid a"
        src="../../../assets/Imagens/karate01.jpg"
        alt="Imagem Karatê"
      /> -->
    </div>
  </div>
</div>
