<div class="login">
  <div id="teste">
   <div class="divTeste" id="imagem"></div>

   <form class="formulario">

       <h1 class="entrar">Efetuar Cadastro</h1>
       <input type="text"     class="form-control" id="nome" placeholder="Nome Completo">
       <input type="password" class="form-control" id="senha" placeholder="Email">
       <input type="password" class="form-control" id="cpf" placeholder="CPF">
       <input type="password" class="form-control" id="telefone" placeholder="Telefone">
       <input type="password" class="form-control" id="data" placeholder="Data de Nascimento">
       <button  class="btn btn-outline-success" id="logar">Cadastrar Atleta</button>

      <!--
       <a href="#" id="esqueceu">Esqueceu seu Usuario/Senha ?</a>
       <a href="#" id="cadastro">Cadastre-se</a>
       -->
   </form>
   </div>
</div>
